{% extends 'home/base.html' %}
{% block content_block %}
<style type="text/css">
	#container{
		width: 800px;
  margin:0 auto;
  text-align: left;

	}
	.aligned .lab{
		width:500px;
		font-weight: bold;
		padding-left: 80px;
	}
	.checkbox {
		padding: 4px 10px 0 0;
		height: 28px;
		
	}
</style>

<div id="container">
<h1>Create New Patient</h1>

<form action="/userAdmin/submitNewPatient/" method="post">
{% csrf_token  %}
<fieldset class="module aligned">
	<div class="form-row">
		<label class="lab" >First name:</label>
		<input class="vTextField" type="text" name="first_name"></input><br />
	</div>
		<div class="form-row">
		<label  class="lab" >Last name:</label>
		<input class="vTextField" type="text" name="last_name"></input><br />
	</div>
		<div class="form-row">
		<label class="lab">Date of Birth:</label>
		<input class="vTextField" type ="text" name="date_of_birth"><br />
	</div>
	<div class="form-row">
		<label class="lab">Date admitted:</label>
		<input class="vTextField" type="text" name="date_admitted" />
	</div>
	<div class="form-row">
		<label class="lab">Medical Card Number:</label>
		<input class="vTextField" type="text" name="medical_card_number" />
	</div>
	<div class="form-row">
		<label class="lab">Primary Physician:</label>	
		<div class="related-widget-wrapper">
		<select name="physician" required id="id_user">
		{% for x in doctors%}
			<option value="{{x.user.id}}">{{x}}</option>
		{%endfor%}
		</select>
		</div>
	</div>
	<div class="form-row">
		<label class="lab">Email: </label>
		<input class="vTextField" type="text" name="email" />
	</div>
	<div class="form-row">
		<label class="lab">Username: </label>
		<input class="vTextField" type="text" name="username" />
	</div>
	<div class="form-row">
		<label class="lab">Enter Password: </label>
		<input class="vTextField" type="password" name="password1" />
	</div>
	<div class="form-row">
		<label class="lab">Confirm Password: </label>
		<input class="vTextField" type="password" name="password2" />
	</div>
	
	<div class="form-row">
		<label class="lab">Address Line 1:</label>
		<input class="vTextField" type="text" name="address_line_one" />
	</div>
	<div class="form-row">
		<label class="lab">Address Line 2: </label>
		<input class="vTextField" type="text" name="address_line_two" />
	</div>
	<div class="form-row">
		<label class="lab">Address Line 3 </label>
		<input class="vTextField" type="text" name="address_line_three" />
	</div>
	<div class="form-row">
	<h2>Required forms:</h2>
	</div>
	<div class="form-row">
		<label class="lab">Pain Form Template</label>
		<input class="checkbox" type="checkbox" name="submitsPainForm" value="True"/>
		<select class="checkbox" name="painFormNotify" >
            <option value="" disabled selected>Select Notification Times</option> 
            <option value="daily" >Never</option>  
            <option value="daily" >Daily</option>  
            <option value="weekly" >Weekly</option> 
            <option value="monthy" >Monthly</option>      
        </select>
    </div>
    <div class="form-row">
		<label class="lab">Pain Perception Diary</label>
		<input class="checkbox" type="checkbox" name="submitsPPD" value="True"/>
		<select class="checkbox" name="ppdNotify" >
            <option value="" disabled selected>Select Notification Times</option>  
            <option value="minutely" >(testing) every Minute</option>
            <option value="daily" >Never</option>  
            <option value="daily" >Daily</option>  
            <option value="weekly" >Weekly</option> 
            <option value="monthy" >Monthly</option> 
        </select>
    </div>
    <div class="form-row">
		<label class="lab">Back Pain</label>
		<input class="checkbox" type="checkbox" name="submitsBackPain" value="True" />
		<select class="checkbox" name="backPainNotify" >
            <option value="" disabled selected>Select Notification Times</option>  
            <option value="daily" >Never</option>  
            <option value="daily" >Daily</option>  
            <option value="weekly" >Weekly</option> 
            <option value="monthy" >Monthly</option> 
        </select>
    </div>
	<div class="form-row">
		<label class="lab">LBP Characterise</label>
		<input class="checkbox" type="checkbox" name="submitsLBPCharacterise" value="True"/>
		<select class="checkbox" name="lbpcNotify" >
            <option value="" disabled selected>Select Notification Times</option>  
            <option value="daily" >Never</option>   
            <option value="daily" >Daily</option>  
            <option value="weekly" >Weekly</option> 
            <option value="monthy" >Monthly</option> 
        </select>
    </div>
</fieldset>	
	<div class="submit-row">
		<input type="submit" value="Submit">
	</div>
</form>



</div>

{% endblock %}