{% extends 'home/base.html' %}
{% block content_block %}
<style type="text/css">
	#container{
		width: 800px;
  margin:0 auto;
  text-align: left;

	}
	.aligned .lab{
		width:500px;
		font-weight: bold;
		padding-left: 80px;
	}
</style>
<div id="container">
<h1>Post-Operative Pain Report</h1>

<form action="/form/submitPainForm/" method="post">
{% csrf_token  %}
<fieldset class="module aligned">
	<div class="form-row">
		<label class="lab" >First name:</label>
		<input class="vTextField" type="text" readonly="true" name="first_name" value="{{ user.first_name }}"></input><br />
	</div>
		<div class="form-row">
		<label  class="lab" >Last name:</label>
		<input class="vTextField" type="text" name="last_name"  readonly="true" value="{{ user.last_name }}"></input><br />
	</div>
		<div class="form-row">
		<label class="lab">Date:</label>
		<input class="vTextField" type ="text" name="date" readonly="true" value="{{ date }}"><br />
	</div>
		<div class="form-row">
		<label class="lab">Have you experienced any pain since you last appointment?</label>
		<input class="vTextField" type="text" name="had_pain"/>
	</div>
	<div class="form-row">
		<label class="lab">When did you begin experiencing the pain? immediately/days/weeks after? </label>
		<input class="vTextField" type="text" name="when_started"/>
	</div>
	<div class="form-row">
		<label class="lab">Where is the pain located</label>
		<input class="vTextField" type="text" name="where_pain" />
	</div>
	<div class="form-row">
		<label class="lab">How often do you feel this pain? </label>
		<input class="vTextField" type="text" name="pain_flab" />
	</div>
	<div class="form-row">
		<label class="lab">How long does the pain last?</label>
		<input class="vTextField" type="text" name="pain_duration" />
	</div>
	<div class="form-row">
		<label class="lab">Are you taking any medication for the pain? </label>
		<input class="vTextField" type="text" name="medication"/>
	</div>
	<div class="form-row">
		<label class="lab">Does the medication relieve the pain? </label>
		<input class="vTextField" type="text" name="medication_works" />
	</div>
	<div class="form-row">
		<label class="lab">Does the pain adversely affect your quality of life? </label>
		<input class="vTextField" type="text" name="life_disturbance" />
	</div>
	<div class="form-row">
		<label class="lab">Does the pain affect the quality of your sleep? </label>
		<input class="vTextField" type="text" name="sleep_disturbed" />
	</div>

</fieldset>	
	<div class="submit-row">
		<input type="submit" value="Submit">
	</div>
</form>
</div>

{% endblock %}